,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Custom Properties: Colors */
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

html,
body {
  height: 100%;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--light-gray);
}

main {
  height: 95%;
  display: grid;
  place-content: center;
}

.barcode-area {
  display: grid;
  justify-items: center;
  background-color: var(--white);
  border: 1px var(--white) solid;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px var(--grayish-blue);
  width: 26ch;
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 0;
  width: inherit;
  text-align: center;
  color: var(--dark-blue);
}

p {
  width: 25ch;
  font-size: 15px;
  text-align: center;
  color: var(--grayish-blue);
}

img {
  display: block;
  border-radius: 1rem;
  width: inherit;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%);
}
